BicycleWorldServiceModelClient/GeneratedXml/BicycleWorldObjectModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BicycleWorldObjectModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BicycleWorldObjectModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SystemFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="SystemMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemReason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemFault" nillable="true" type="tns:SystemFault" />
  <xs:complexType name="DatabaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="DbMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DbOperation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DbReason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseFault" nillable="true" type="tns:DatabaseFault" />
  <xs:complexType name="ArrayOfProductData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductData" nillable="true" type="tns:ProductData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductData" nillable="true" type="tns:ArrayOfProductData" />
  <xs:complexType name="ProductData">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsCategoryActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ListPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductData" nillable="true" type="tns:ProductData" />
  <xs:complexType name="ArrayOfShoppingCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingCartItem" nillable="true" type="tns:ShoppingCartItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingCartItem" nillable="true" type="tns:ArrayOfShoppingCartItem" />
  <xs:complexType name="ShoppingCartItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderBy" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingCartItem" nillable="true" type="tns:ShoppingCartItem" />
  <xs:complexType name="ArrayOfSalesHistoryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SalesHistoryData" nillable="true" type="tns:SalesHistoryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSalesHistoryData" nillable="true" type="tns:ArrayOfSalesHistoryData" />
  <xs:complexType name="SalesHistoryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ItemSubTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderTotal" type="xs:decimal" />
      <xs:element minOccurs="0" name="PerItemCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SalesOrderNumber" type="xs:int" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalesHistoryData" nillable="true" type="tns:SalesHistoryData" />
</xs:schema>