BicycleWorldServiceModelClient/GeneratedXml/bicycleworld.ca.2013.03.12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BicycleWorld.ca/2013/03/12" elementFormDefault="qualified" targetNamespace="http://BicycleWorld.ca/2013/03/12" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BicycleWorldObjectModel" />
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductResult" nillable="true" xmlns:q1="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q1:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductListResult" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/BicycleWorldObjectModel" type="q2:ArrayOfProductData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" xmlns:q3="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q3:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveProductResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="product" nillable="true" xmlns:q4="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" nillable="true" xmlns:q5="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q5:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoriesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CategoriesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CategoriesListResult" nillable="true" xmlns:q6="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q6:ArrayOfProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCategoryResult" nillable="true" xmlns:q7="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q7:ProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" xmlns:q8="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q8:ProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCategoryResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveCategoryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" xmlns:q9="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q9:ProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCategoryResult" nillable="true" xmlns:q10="http://schemas.datacontract.org/2004/07/BicycleWorldEntityModel" type="q10:ProductCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>